@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-icons-btn{
    color: black;
    height: 11vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.nav-icons-btn-link:hover{
    color: rgb(102, 102, 134);
}
.all-on-sell-nfh{
    width: 63%;
    height: 65vh;
}

.Shous-girls-links{
    width:"100%";
    height: 20vh;
    background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 23px;
    gap: 16px;
}
.hover-shous-three{
    width:"100%";
    height: 70vh;
    box-shadow: 20px 5px 50px 5px gray;
    margin-top: 70px;
    
}
.hover-shous-three-img{
    position: relative;
    transition: transform 0.1s ease;
}

.hover-shous-three-img:hover{
    transform: scale(1.1);
}



@media only screen and (min-width: 300px) and (max-width: 767px){
    .nav-icons-btn{
        width: 100%;
        /* background-color: blueviolet;  */
        display: flex;
        justify-content: end;
        
    }
    .card-slider-smg-smg{
        width: 94%;
        /* height: auto; */
        /* background-color: brown; */
        margin: auto;
       
    }
    .shous-Six-combo-img-{
        background-color: black;
        margin-top: 25px;
    }
    .all-on-sell-nfh{
        width: auto;
        height: auto;
        /* background-color: aqua; */
    }
    .Shous-girls-links{
        width:"100%";
        height: 20vh;
        /* background-color: rgb(207, 158, 158); */
       display: flex;
       justify-content: center;
       align-items: center;
        font-size: 16px;
        gap: 10px;
    }
    
   
}


